<p>You got <%= @total_correct %> out of <%= @results.size %> questions right!</p>

<% @results.each do |index, info| %>
 <% color = info[:is_correct] ? 'green' : 'red' %>
  <div class="block" style="margin-bottom: 1em">
    <p><strong><%= index %>. <%= info[:question] %></strong></p>
    <p style="color: <%= color %>;"><%= info[:user_answer] %></p>
    <% if !info[:is_correct] %>
      <p><strong>Correct answer:</strong> <%= info[:correct_answer] %></p>
    <% end %>
  </div>
<% end %>
